**/.settings/
**/.classpath
**/.checkstyle
**/.project
**/.*.swp
*.DS_Store*
**/test-output/
**/.metadata/
.recommenders/
**/.springBeans
**/.factorypath
.idea/
*.iml
/bin/
**/bin/
**/.mvn/
batchnorm_swin.py
swin_models_norm.py
swin_models_norm2.py
outputs
visformer_v2_tiny
.gitignore